<!-- Header -->
  <header id="header">
    <h1><a href="{{ "/" | prepend: site.baseurl }}">Berat Gümüş</a></h1>
    <nav class="links">
      <ul>

        {% for tag in site.data.links %}
          <li><a href="{{ tag.href | prepend: site.baseurl }}">{{ tag.name }}</a></li>
        {% endfor %}
        
       <!-- <li><a href="https://beratgumus.github.io">Resume</a></li> -->
      </ul>

    </nav>
    <nav class="main">
      <ul>
        <li class="menu">
          <a class="fa-bars" href="#menu">Menu</a>
        </li>
      </ul>
    </nav>

    <!-- Menu -->
    <section id="menu">
      <!-- Search -->
      <section>
        <ul class="links">
          
          {% for tag in site.data.links %}
          <li><a href="{{ tag.href | prepend: site.baseurl }}"><h3>{{ tag.name }}</h3></a></li>
          {% endfor %}
          
        <!--  <li><a href="https://beratgumus.github.io/"><h3>Resume</h3></a></li> -->
          
        </ul>
      </section>
    </section>
  </header>
